@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

h1 {
    font-size: 38.48px;
    color: #04146c;
    font-weight: 900;
}

h2 {
    font-size: 21.56px;
    font-weight: 700;
    color: #0a2ff1;
}

img {
    width: 55px;
    margin-right: 15px;
}

p {
    width: 40%;
    margin-left: 70px;
    margin-top: none;
    margin-bottom: none;
    font-weight: 400;
    font-size: 19.97px;
    color: #04146c;
}